{% extends 'layout.html' %}

{% block content %}
<section class="bg-gray-700 text-white py-16 px-6 text-center">
	<h1 class="text-4xl sm:text-5xl font-bold mb-4">Об'єднаймо зусилля для великої мети</h1>
	<p class="text-lg sm:text-xl mb-6">Voluntear створена для того, щоб кожен мав можливість зробити внесок у важливі соціальні ініціативи.</p>
</section>

<!-- Features Section -->
<section id="features" class="py-16 px-6 bg-white">
	<div class="max-w-6xl mx-auto text-center">
	  <h2 class="text-3xl font-bold mb-8">Легкість у кожному кроку</h2>
	  <p class="text-xl mb-8">З Voluntear організація заходу стає справжнім задоволенням. Ви можете легко залучати нових волонтерів, відслідковувати їх участь та автоматично надсилати важливі сповіщення, не витрачаючи часу на складні процеси.</p>
	  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
		<div class="bg-gray-100 p-6 rounded-lg shadow-md">
		  <h3 class="text-xl font-semibold mb-4">Легкість використання</h3>
		  <p>Ми створили інтуїтивно зрозумілий інтерфейс для швидкого доступу до всіх функцій.</p>
		</div>
		<div class="bg-gray-100 p-6 rounded-lg shadow-md">
		  <h3 class="text-xl font-semibold mb-4">Автоматизація процесів</h3>
		  <p>Автоматично сповіщайте учасників про зміни та важливі події на заходах.</p>
		</div>
		<div class="bg-gray-100 p-6 rounded-lg shadow-md">
		  <h3 class="text-xl font-semibold mb-4">Підтримка великих заходів</h3>
		  <p>Voluntear підтримує організацію заходів різного масштабу, від малих до великих подій.</p>
		</div>
	  </div>
	</div>
</section>

<!-- Call to Action Section -->
<section class="bg-gray-700 text-white py-16 px-6 text-center">
	<h2 class="text-3xl sm:text-4xl font-bold mb-4">Змінюймо світ разом</h2>
	<p class="text-lg sm:text-xl mb-6">Кожен внесок важливий, і разом ми можемо досягти великих результатів.</p>
</section>
{% endblock %}
