{% for event in events %}
{% if current_user.role == 'organization' and event.creator_id != current_user.id %}
{% else %}
<div class="max-w-sm rounded overflow-hidden shadow-lg">
	<div class="px-6 py-4">
		<div class="font-bold text-xl mb-2 flex">
			<span class="flex-grow">{{ event.title }}</span>
			{% if event.creator_id == current_user.id %}
			<button hx-delete="/events/{{ event.id }}/delete" hx-target="#events-grid" class="flex justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Видалити</button>
			{% else %}
			<button hx-get="/events/{{ event.id }}/register" hx-target="body" hx-push-url="true" class="flex justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Реєстрація</button>
			{% endif %}
		</div>
		<div class="flex">
			<div class="flex-grow">
				<p class="text-gray-700 text-base">
					{{ event.description }}
				</p>
				<p class="text-gray-700 text-base">
					Дата: {{ event.date.date() }}
				</p>
				<p class="text-gray-700 text-base">
					Локція: {{ event.location }}
				</p>
				<p class="text-gray-700 text-base">
					Від: {{ event.creator.email }}
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
