{% macro indicator_button(color, text) %}
<button disabled class="flex justify-center rounded-md {{ color }} px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:{{ color }} focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">{{ text }}</button>
{% endmacro %}

{% for event in events %}
{% if current_user.role == 'organization' and event.creator_id != current_user.id %}
{% else %}
<div class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer" {% if current_user.role == 'organization' %} hx-get="/events/{{ event.id }}/manage" hx-target="body" hx-push-url="true" {% endif %}>
	<div class="px-6 py-4">
		<div class="font-bold text-xl mb-2 flex items-center">
			<span class="flex-grow">{{ event.title }}</span>
			{% if event.creator_id == current_user.id %}
			<button hx-delete="/events/{{ event.id }}/delete" hx-target="#events-grid" onclick="event.stopPropagation()" class="flex justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Видалити</button>
			{% else %}
				{% set status = registrations[event.id] %}
				{% if status == "unregistered" %}
				<button hx-get="/events/{{ event.id }}/register" hx-target="body" hx-push-url="true" onclick="event.stopPropagation" class="flex justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Реєстрація</button>
				{% elif status == "cancelled" %}
				{{ indicator_button("bg-red-600", "Відхилено") }}
				{% elif status == "confirmed" %}
				{{ indicator_button("bg-green-600", "Зареєстровано") }}
				{% else %}
				{{ indicator_button("bg-yellow-600", "Розглядається") }}
				{% endif %}
			{% endif %}
		</div>
		<div class="flex">
			<div class="flex-grow">
				<p class="text-gray-700 text-base">
					{{ event.description }}
				</p>
				<p class="text-gray-700 text-base">
					Дата: {{ event.date.date() }}
				</p>
				<p class="text-gray-700 text-base">
					Локція: {{ event.location }}
				</p>
				<p class="text-gray-700 text-base">
					Від: {{ event.creator.email }}
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
