<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Doc</title>
		<link href="{{ url_for('static', filename='tailwind.css') }}" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@1.7.0"></script>
	</head>
	<body>
		<header>
			{% include '_navbar.html' %}
		</header>
		<main id="main-content">
			{% block content %}
			{% endblock content %}
		</main>
		<script src="{{ url_for('static', filename='dropdown.js') }}"></script>
	</body>
</html>
